# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
/.mypy_cache
/.ruff_cache

# Distribution / packaging
/build/
/dist/
/wheels/*.whl

# vim tswap files
.*.sw*

# build venv
.venv
venv/

# tox venv
.tox/
